<div class="wrapper" style="text-align:center;width:800px;margin:auto;">
	<div class="text-wrapper" style="text-align:left;border-style:solid;padding-left:50px;padding-right:50px;padding-bottom:50px;">
		<div class="center" style="text-align:center;">
			<h3><%= link_to 'View the other offers', controller: 'offers' %></h3>
			<h3><%= link_to 'Edit this offer', edit_offer_path(@offer.id) %></h3>
			<h3><%= link_to 'Delete', offer_path(@offer.id), method: :delete, data: { confirm: 'Are you sure?' } %></h3>
			<img src="<%= @offer.image %>" alt="house" height=250px></img>
		</div>
		<h3>Address</h3>
		<p><%= @offer.line1 %> <%= @offer.line2 %></p>
		<p><%= @offer.city %>, <%= @offer.state %>. <%= @offer.zip %></p>
		<h3>Rental info</h3>
		<p>$<%= @offer.rent %>/mo</p>
		<p><%= @offer.start_date %> - <%= @offer.end_date %></p>
		<h3>Utility info</h3>
		<p>Water: <%= @offer.water ? 'Yes' : 'No' %></p>
		<p>Internet: <%= @offer.internet ? 'Yes' : 'No' %></p>
		<p>Electric: <%= @offer.electric ? 'Yes' : 'No' %></p>
		<p>Heat: <%= @offer.heat ? 'Yes' : 'No' %></p>
		<p>Gas: <%= @offer.gas ? 'Yes' : 'No' %></p>
		<h3>Other</h3>
		<p>Washer/dryer? <%= @offer.washdry ? 'Yes' : 'No' %></p>
		<p>Air conditioning? <%= @offer.aircond ? 'Yes' : 'No' %></p>
		<p>Handicap? <%= @offer.handicap ? 'Yes' : 'No' %></p>
		<p>Parking? <%= @offer.parking ? 'Yes' : 'No' %></p>
		<p>People interested in this sublease: <%= @offer.interested %></p>
	</div>
</div>