<!-- 

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="item field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="item actions" style="margin-top:5px;">
    <%= f.submit "Update" %>
  </div>
<% end %>

-->

<div style="text-align:center;width:600px;margin:auto;">
<h2>Cancel my account</h2>


<p class="item">Deleting your account will completely remove all of your data from our servers, including all of your sublet offers. This action is permanent and unrecoverable.<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class=>"item" %></p>
</div>
