<%= form_for @offer do |f| %>
	<%= f.hidden_field :latitude, value: 0 %>
	<%= f.hidden_field :longitude, value: 0 %>
  	<table>
  		<tr>
  			<td class="item">Link to photo</td>
  			<td class="item">School</td>
  		</tr>
  		<tr>
  			<td class="item"><%= f.text_field :image %></td>
  			<td class="item"><%= f.select :school, options_for_select(supported_schools),{}, class:'form_control', :required => true %></td>
  		</tr>
	  	<tr>
		  	<td class="item">Address Line 1</td>
		    <td class="item">Address Line 2</td>
		</tr>
			<td class="item"><%= f.text_field :line1, :required => true %></td>
		    <td class="item"><%= f.text_field :line2 %></td>
		</tr>
		<tr>
		    <td class="item">City</td>
		    <td class="item">State</td>
		    <td class="item">Zip Code</td>
		</tr>
		<tr>
			<td class="item"><%= f.text_field :city, :required => true %></td>
		    <td class="item"><%= f.select :state, options_for_select(us_states),{}, class:'form_control', :required => true %></td>
    		<td class="item"><%= f.number_field :zip, within: 0...99999, :required => true %></td>
    	</tr>

		<tr>
			<td class="item">Monthly Rent</td>
		</tr>
	</table>
	<table>
		<tr>
			<td class="item"><%= f.number_field :rent, within: 0...9999, :required => true %></td>
		</tr>
		<tr>
			<td class="item">Description (max 750 characters)</td>
		</tr>
		<tr>
			<td class="item"><%= f.text_area :description, :maxlength => '750', size: '40x5', :required => true %></td>
		</tr>
		<tr>
			<td class="item">Earliest potential start date</td>
		</tr>
		<tr>
			<td class="item">
				<%= f.date_field :start_date, :required => true %>
			</td>
		</tr>
		<tr>
			<td class="item">Latest potential end date</td>
		</tr>
		<tr>
			<td class="item">
				<%= f.date_field :end_date, :required => true %>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<p class="item" style="margin-bottom:5px;margin-top:5px;">Utilities included?</p>
		</tr>
	</table>
	<table>
		<tr>
			<p class="item" style="margin-bottom:5px;"><%= f.check_box :water %>Water <%= f.check_box :electric %>Electric <%= f.check_box :gas %> Gas <%= f.check_box :heat %> Heat <%= f.check_box :internet %> Internet</p>
		</tr>
	</table>
	<table>
		<tr>
			<p class="item" style="margin-bottom:5px;">Other information?</p>
		</tr>
		<tr>
			<p class="item" style="margin-bottom:5px;"><%= f.check_box :washdry %>Washer/dryer <%= f.check_box :aircond %> Air conditioning <%= f.check_box :handicap %> Handicap accessible</p>
			<p class="item"><%= f.check_box :parking %>Parking space <%= f.check_box :furnished %>Furnished</p>
		</tr>
	</table>
	<table>
		<tr>
    		<td id="submit-button" class="item"><%= f.submit %></td>
    		<script>
    			$(function() {
    				$('#submit-button').click(function(e) {
    					e.preventDefault()
    					geocoder = new google.maps.Geocoder();
    					geocoder.geocode({'address':$('#offer_line1').val()+' '+$('#offer_city').val()+' '+$('#offer_state').val()}, function(results, status) {
    						console.log(status)
    						if (status == google.maps.GeocoderStatus.OK) {
    							if (results[0].types.indexOf("street_address") !== -1) {
	    							// possible idea iterate through address components? 
	    							$('#offer_latitude').val(results[0].geometry.location.lat())
	    							$('#offer_longitude').val(results[0].geometry.location.lng())
	    							var addr = results[0].formatted_address.split(',').map($.trim)
	    							$('#offer_line1').val(addr[0])
	    							$('#offer_city').val(addr[1])
	    							// WE OK WOWOWOW
	    							//return;
	    							// ackshully no we aint
	    							console.log(results[0])
	    							e.preventDefault()
	    						}
	    						else {
	    							console.log("if you're getting an error here when you don't think there should be one, send me an email with the results object and your input")
	    							console.log(results)
	    							$("<div class='ui modal'><i class='close icon'></i>\
	    							<div class='box' style='text-align:center;'><div class='text-wrapper modal-styles'>\
									<p class='item'><br/></p>\
									<p class='item'>Whoops! Something's wrong with your address. Double-check it and try again.</p>\
									<p class='item'><br/></p></div></div></div>").appendTo($('body')).modal('show')
									e.preventDefault();
	    						}
    						}
    						else {
    							$("<div class='ui modal'><i class='close icon'></i>\
    							<div class='box' style='text-align:center;'><div class='text-wrapper modal-styles'>\
								<p class='item'><br/></p>\
								<p class='item'>Whoops! Something's wrong with your address. Double-check it and try again.</p>\
								<p class='item'><br/></p></div></div></div>").appendTo($('body')).modal('show')
								e.preventDefault();
    						}
    					})
    				})
    			})
    		</script>
    	</tr>
	</table>
<% end %>