<%= form_for @offer do |f| %>
	<%= f.hidden_field :interested, value: 0 %>
	<table class="new-form-table">
		<tr>
			<td><h3 class="form-header">Where is your sublet?</h3></td>
		</tr>
  		<tr>
			<td class="item half"><%= f.text_field :line1, :required => true, :placeholder => 'Address Line 1' %></td>
		    <td class="item half"><%= f.text_field :line2, :placeholder => 'Address Line 2' %></td>
		</tr>
		<tr>
			<td class="item"><%= f.text_field :city, :required => true, :placeholder => 'City' %></td>
		    <td class="item"><%= f.select :state, options_for_select(us_states),{:include_blank => 'State'}, class:'form_control', :required => true %></td>
    		<td class="item"><%= f.number_field :zip, within: 0...99999, :required => true, :placeholder => 'Zip' %></td>
    	</tr>
	</table>
	<table class="new-form-table">
		<tr>
			<td><h3 class="form-header">Tell us a bit about your sublet.</h3></td>
		</tr>
		<tr>
			<td class="item half-line"><%= f.number_field :rent, within: 0...9999, :required => true, :placeholder => 'Rent' %></td>
  			<td class="item half-line"><%= f.text_field :image, :placeholder => 'Link to photo for listing' %></td>
  			<td class="item half-line"><%= f.select :school, options_for_select(supported_schools),{:include_blank => 'School'}, class:'form_control', :required => true %></td>
		</tr>
		<tr>
			<td class="item"><%= f.text_area :description, :maxlength => '750', size: '40x5', :required => true, :placeholder => 'Description (max 750 characters)' %></td>
		</tr>
	</table>
	<table class="new-form-table">
		<tr>
			<td><h3 class="form-header">What start and end dates are you hoping for?</h3></td>
		</tr>
		<tr>
			<td class="item half-line">
				<%= f.date_select :start_date, :required => true %>
			</td>
			<td class="item half-line">
				<%= f.date_select :end_date, :required => true %>
			</td>
		</tr>
	</table>
	<table class="new-form-table">
		<tr>
			<td><h3 class="form-header">What utilities are included?</h3></td>
		</tr>
		<tr>
			<p class="item" style="margin-bottom:5px;">
				<%= f.check_box :water %><%= f.label :water, 'Water' %>
				<%= f.check_box :electric %><%= f.label :electric, 'Electric' %>
				<%= f.check_box :gas %><%= f.label :gas, 'Gas' %>
				<%= f.check_box :heat %><%= f.label :heat, 'Heat' %>
				<%= f.check_box :internet %><%= f.label :internet, 'Internet' %></p>
		</tr>
	</table>
	<table class="new-form-table">
		<tr>
			<td><h3 class="form-header">Other information?</h3></td>
		</tr>
		<tr>
			<p class="item" style="margin-bottom:5px;">
				<%= f.check_box :washdry %><%= f.label :washdry, 'Washer/dryer' %>
				<%= f.check_box :aircond %><%= f.label  :aircond, 'Air conditioning' %>
				<%= f.check_box :handicap %><%= f.label  :handicap, 'Handicap accessible' %></p>
			<p class="item">
				<%= f.check_box :parking %><%= f.label :parking, 'Parking space' %>
				<%= f.check_box :furnished %><%= f.label :furnished , 'Furnished'%></p>
		</tr>
	</table>
	<table class="new-form-table">
		<tr>
    		<td class="item"><%= f.submit %></td>
    	</tr>
	</table>
<% end %>