<%= form_for @offer do |f| %>
	<%= f.hidden_field :interested, value: 0 %>
  	<table>
  		<tr>
  			<td class="item">Link to photo</td>
  			<td class="item">School</td>
  		</tr>
  		<tr>
  			<td class="item"><%= f.text_field :image %></td>
  			<td class="item"><%= f.select :school, options_for_select(supported_schools),{}, class:'form_control', :required => true %></td>
  		</tr>
	  	<tr>
		  	<td class="item">Address Line 1</td>
		    <td class="item">Address Line 2</td>
		</tr>
			<td class="item"><%= f.text_field :line1, :required => true %></td>
		    <td class="item"><%= f.text_field :line2 %></td>
		</tr>
		<tr>
		    <td class="item">City</td>
		    <td class="item">State</td>
		    <td class="item">Zip Code</td>
		</tr>
		<tr>
			<td class="item"><%= f.text_field :city, :required => true %></td>
		    <td class="item"><%= f.select :state, options_for_select(us_states),{}, class:'form_control', :required => true %></td>
    		<td class="item"><%= f.number_field :zip, within: 0...99999, :required => true %></td>
    	</tr>

		<tr>
			<td class="item">Monthly Rent</td>
		</tr>
	</table>
	<table>
		<tr>
			<td class="item"><%= f.number_field :rent, within: 0...9999, :required => true %></td>
		</tr>
		<tr>
			<td class="item">Description (max 750 characters)</td>
		</tr>
		<tr>
			<td class="item"><%= f.text_area :description, :maxlength => '750', size: '40x5', :required => true %></td>
		</tr>
		<tr>
			<td class="item">Earliest potential start date</td>
		</tr>
		<tr>
			<td class="item">
				<%= f.date_field :start_date, :required => true %>
			</td>
		</tr>
		<tr>
			<td class="item">Latest potential end date</td>
		</tr>
		<tr>
			<td class="item">
				<%= f.date_field :end_date, :required => true %>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<p class="item" style="margin-bottom:5px;margin-top:5px;">Utilities included?</p>
		</tr>
	</table>
	<table>
		<tr>
			<p class="item" style="margin-bottom:5px;"><%= f.check_box :water %>Water <%= f.check_box :electric %>Electric <%= f.check_box :gas %> Gas <%= f.check_box :heat %> Heat <%= f.check_box :internet %> Internet</p>
		</tr>
	</table>
	<table>
		<tr>
			<p class="item" style="margin-bottom:5px;">Other information?</p>
		</tr>
		<tr>
			<p class="item" style="margin-bottom:5px;"><%= f.check_box :washdry %>Washer/dryer <%= f.check_box :aircond %> Air conditioning <%= f.check_box :handicap %> Handicap accessible</p>
			<p class="item"><%= f.check_box :parking %>Parking space <%= f.check_box :furnished %>Furnished</p>
		</tr>
	</table>
	<table>
		<tr>
    		<td class="item"><%= f.submit %></td>
    	</tr>
	</table>
<% end %>