<div class='center' style='text-align:center;'>
	<h2><a><%= link_to offer.line1 + ' ' + offer.line2, offer_path(offer.id) %></a></h2>
	<h3>
		<%= render partial: 'offers/likes', locals: {offer: offer} %>
		<div class='ui primary button'>
		    <i class='in cart icon'></i><a href='https://www.facebook.com/app_scoped_user_id/<%=  offer.user.uid %>' class='item'><span style='color:white;'>Contact Seller</span></a>
		</div>
		<% if (current_user != offer.user) %>
		<div class='ui primary button'>
		    <i class="thumbs outline up icon"></i><a href='https://www.facebook.com/app_scoped_user_id/<%=  offer.user.uid %>' class='item'><span style='color:white;'>I'm Interested!</span></a>
		</div>
		<% end %>
	</h3>
</div>
<div class='ui grid'>
	<div class='ui eight wide column'>
		<div class='ui center image-holder' style='text-align:center;'>	
			<img src='<%= offer.image %>' alt='house' min-height='200px'></img>
		</div>
		<h3>Address</h3>
		<p class='item'><%= offer.line1 %> <%= offer.line2 %></p>
		<p class='item'><%= offer.city %>, <%= offer.state %>. <%= offer.zip %></p>
		<h3>Rental information</h3>
		<p class='item'>$<%= offer.rent %>/mo</p>
		<p class='item' style='margin-top: 0px;'><%= offer.start_date.strftime('%a %d %b %Y') %> - <%= offer.end_date.strftime('%a %d %b %Y') %></p>
	</div>
	<div class='ui eight wide column'>
		<p style='display:none;'></p>
		<h3 class='no-top-margin'>Description</h3>
		<p class='item' style='word-wrap: break-word;'><%= offer.description %></p>
		<h3 class='no-top-margin'>Utility information</h3>
		<table class='item' style='line-height: 1.33rem; margin-bottom: 1rem;'>
			<tr class='buffered'>
				<td>Water:</td><td><%= offer.water ? 'Yes' : 'No' %></td>
			</tr>
			<tr class='buffered'>
				<p><td>Internet:</td><td><%= offer.internet ? 'Yes' : 'No' %></td></p>
			</tr>
			<tr class='buffered'>
				<td>Electric:</td><td><%= offer.electric ? 'Yes' : 'No' %></td>
			</tr>
			<tr class='buffered'>
				<td>Heat:</td><td><%= offer.heat ? 'Yes' : 'No' %></td>
			</tr>
			<tr class='buffered'>
				<td>Gas:</td><td><%= offer.gas ? 'Yes' : 'No' %></td>
			</tr>
		</table>
		<h3 class='no-top-margin'>Other</h3>
		<table class='item'>
			<tr class='buffered'>
				<td>Washer/dryer?</td><td><%= offer.washdry ? 'Yes' : 'No' %></td>
			</tr>
			<tr class='buffered'>
				<td>Air conditioning?</td><td><%= offer.aircond ? 'Yes' : 'No' %></td>
			</tr>
			<tr class='buffered'>
				<td>Handicap?</td><td><%= offer.handicap ? 'Yes' : 'No' %></td>
			</tr>
			<tr class='buffered'>
				<td>Parking?</td><td><%= offer.parking ? 'Yes' : 'No' %></td>
			</tr>
			<tr class='buffered'>
				<td>Furnished?</td><td><%= offer.furnished ? 'Yes' : 'No' %></td>
			</tr>
		</table>
	</div>
</div>